/* Lato Font - OFL */
@font-face {
  font-family: 'Lato';
  font-weight: 100;
  font-style: normal;
  src: local('Lato Thin'), local('Lato-Thin'), url('../fonts/Lato-Thin.woff2') format('woff2');
  font-display: swap;
}
@font-face {
  font-family: 'Lato';
  font-weight: 100;
  font-style: italic;
  src: local('Lato Thin Italic'), local('Lato-ThinItalic'), url('../fonts/Lato-ThinItalic.woff2') format('woff2');
  font-display: swap;
}
@font-face {
  font-family: 'Lato';
  font-weight: 300;
  font-style: normal;
  src: local('Lato Light'), local('Lato-Light'), url('../fonts/Lato-Light.woff2') format('woff2');
  font-display: swap;
}
@font-face {
  font-family: 'Lato';
  font-weight: 300;
  font-style: italic;
  src: local('Lato Light Italic'), local('Lato-LightItalic'), url('../fonts/Lato-LightItalic.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  font-weight: 400;
  font-style: normal;
  src: local('Lato Regular'), local('Lato-Regular'), url('../fonts/Lato-Regular.woff2') format('woff2');
  font-display: swap;
}
@font-face {
  font-family: 'Lato';
  font-weight: 400;
  font-style: italic;
  src: local('Lato Italic'), local('Lato-Italic'), url('../fonts/Lato-Italic.woff2') format('woff2');
  font-display: swap;
}
@font-face {
  font-family: 'Lato';
  font-weight: 700;
  font-style: normal;
  src: local('Lato Bold'), local('Lato-Bold'), url('../fonts/Lato-Bold.woff2') format('woff2');
  font-display: swap;
}
@font-face {
  font-family: 'Lato';
  font-weight: 700;
  font-style: italic;
  src: local('Lato Bold Italic'), local('Lato-BoldItalic'), url('../fonts/Lato-BoldItalic.woff2') format('woff2');
  font-display: swap;
}
@font-face {
  font-family: 'Lato';
  font-weight: 900;
  font-style: normal;
  src: local('Lato Black'), local('Lato-Black'), url('../fonts/Lato-Black.woff2') format('woff2');
  font-display: swap;
}
@font-face {
  font-family: 'Lato';
  font-weight: 900;
  font-style: italic;
  src: local('Lato Black Italic'), local('Lato-BlackItalic'), url('../fonts/Lato-BlackItalic.woff2') format('woff2');
  font-display: swap;
}