<IfModule mod_mime.c>
  AddType font/woff .woff
  AddType font/woff2 .woff2
</IfModule>
<IfModule mod_expires.c>
  ExpiresActive On
  ExpiresByType font/woff "access plus 95 days"
  ExpiresByType font/woff2 "access plus 95 days"
</IfModule>
